/* // Shipper No:
color: #212934;
 font-size: 12px;
 font-family: Nunito;
 font-weight: 400;
 line-height: 17px;
 word-wrap: break-word
---
// Type or Scan here
color: #D5DDE5;
 font-size: 12px;
 font-family: Nunito;
 font-weight: 400;
 line-height: 17px;
 word-wrap: break-word
---
// OK
color: white;
 font-size: 20px;
 font-family: Inter;
 font-weight: 700;
 line-height: 26px;
 word-wrap: break-word */